/* Reset CSS */
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
}

/* Navigation */
nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

/* Mobile menu */
.mobile-menu-icon {
  display: none;
  font-size: 2em;
  cursor: pointer;
  margin-left: 10px;
  z-index: 2;
  color: black;
}
#toggle {
  display: none;
}

/* Media queries */
@media screen and (max-width: 768px) {
  nav {
    z-index: 1;
    position: fixed;
    height: auto;
    width: 90%;
    height: 100%;
    left: -100%;
  }
  nav ul {
    flex-direction: column;
    background-color: #333;
    margin-top: 60px;
    padding: 0;
    width: 100%;
  }
  nav ul li {
    margin: 0;
    text-align: center;
  }
  nav ul li a {
    padding: 10px;
    display: block;
  }
  .mobile-menu-icon {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }

  /* Animazione del menu */
  nav {
    transition: left 0.5s ease-in;
  }

  #toggle:checked + nav {
    left: 0;
  }
}